/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
}
.destination-search-container {
  max-width: 1140px;
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .destination-search-container {
    align-items: flex-start;
  }
}
.heading {
  text-align: center;
  font-size: 40px;
  margin-top: 48px;
  margin-left: 18px;
  margin-bottom: 32px;
  font-weight: 700;
  font-family: 'Roboto';
  color: #252627;
}
@media screen and (min-width: 768px) {
  .heading {
    margin-top: 92px;
  }
}
.search-input-container {
  display: flex;
  background-color: #f1f5f9;
  border-radius: 8px;
  border-top: 8px;
  border-left: 16px;
  border-bottom: 8px;
  border-right: 16px;
  margin-left: 15px;
}
.search-input {
  color: #0f172a;
  background-color: #f1f5f9;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}
